<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="about">
    <%- include('../includes/navbar') %>

    <div class="container">
        <h1 class="text-3xl font-bold text-left m-5">
            Welcome to Anzone
        </h1>
        <p class="text-left m-5">
            At Anzone, we&apos;re dedicated to providing comprehensive safety guides and resources specifically tailored for women. Our platform offers a wealth of information designed to empower you with the knowledge and tools needed to navigate various safety scenarios confidently. Whether you&apos;re seeking advice on personal safety, self-defense tips, or strategies for online security, our expertly crafted guides have you covered.
        </p>
        <h2 class="text-2xl font-bold text-left m-5">
            What We Offer:
        </h2>
        <div class="m-5">
               <h3 class="text-1xl font-bold">
                    Inspiring Blogs:
               </h3>
                <p>
                    Our blog section features articles written by and for women, covering topics ranging from personal safety tips to empowering stories of women overcoming challenges. Stay informed and inspired with insights that resonate with your experiences and aspirations.
                </p>
                <br>
                <h3 class="text-1xl font-bold">
                    Work Opportunities: 
                </h3>
                <p>
                    We believe that empowerment extends into professional life. Explore our curated job listings and career resources tailored to women. Find opportunities that align with your skills and ambitions, and take the next step in your career with confidence.
                </p>
                <br>
                <h3 class="text-1xl font-bold">
                    Safety Guides: 
                </h3>
                <p>
                    Our safety guides are designed to be practical, accessible, and easy to understand. Each guide is meticulously crafted to address different aspects of safety, offering actionable advice and resources to help you stay secure in various situations.
                </p>
        </div>

                    <div class="m-5">
                    <h1 class="text-3xl font-bold">
                         Guidance and Mentorship:
                    </h1>
                    <p class="py-6">
                          Our project has been significantly shaped by the guidance and mentorship of Unnati Di. With her extensive experience, provided invaluable advice and support throughout the development of SafeShe. Their expertise has been instrumental in ensuring the success and impact of our platform.
                     </p>
                    </div>
              


        <h2 class="text-2xl font-bold text-left m-5">
            Meet the Team:
        </h2>
        <div class="m-5">
        <p>
            Our team at SafeShe is a passionate group of professionals committed to creating a safer and more empowering world for women. Here&apos;s a glimpse of who&apos;s behind the scenes:
        </p>
       
       
        <div class="h-[16em] w-[18em] m-3 border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-[rgba(75,30,133,1)] to-[rgba(75,30,133,0.01)] text-white font-nunito p-[1em] flex justify-center items-left flex-col gap-[0.75em] backdrop-blur-[12px]">
            <div>
                <h1 class="text-[2em] font-medium">Sristy Paul</h1>
                <p class="text-[0.85em]">
                       Developer, with a strong background in this technology, played a crucial role in contributing developing the project, driving the technical aspects of our project to success.
                </p>
            </div>

            <a href="https://github.com/sristy17">
                <button class="h-fit w-fit m-3 px-[1em] py-[0.25em] border-[1px] rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                <p>Connect</p>
                <svg
                class="w-6 h-6 group-hover:translate-x-[10%] duration-300"
                stroke="currentColor"
                stroke-width="1"
                viewBox="0 0 24 24"
                fill="white"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                ></path>
                </svg>
                </button>
            </a>
        </div>    

        <div class="h-[16em] w-[18em] m-3 border-2 border-[rgba(75,30,133,0.5)] rounded-[1.5em] bg-gradient-to-br from-[rgba(75,30,133,1)] to-[rgba(75,30,133,0.01)] text-white font-nunito p-[1em] flex justify-center items-left flex-col gap-[0.75em] backdrop-blur-[12px]">
            <div>
                <h1 class="text-[2em] font-medium">Vanshika</h1>
                <p class="text-[0.85em]">
                    Translating ideas into visual representations, contributed to creating a clear Figma prototype for the AnZone App.
                </p>
            </div>

            <a href="https://github.com/vansheeekaaa">
                <button class="h-fit w-fit m-3 px-[1em] py-[0.25em] border-[1px] rounded-full flex justify-center items-center gap-[0.5em] overflow-hidden group hover:translate-y-[0.125em] duration-200 backdrop-blur-[12px]">
                <p>Connect</p>
                <svg
                class="w-6 h-6 group-hover:translate-x-[10%] duration-300"
                stroke="currentColor"
                stroke-width="1"
                viewBox="0 0 24 24"
                fill="white"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
                    stroke-linejoin="round"
                    stroke-linecap="round"
                ></path>
                </svg>
                </button>
            </a>
        </div>
        </div>

        <%- include('../includes/footer') %>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>