<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helpline</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('../includes/navbar') %>

    <div class="m-5">
        <h1 class="text-3xl font-bold">
            Need Emergency Silence? 🚨
        </h1>
        <p class="mt-2">
            If you find yourself in a situation where you need to quickly signal for help and require immediate silence, please send us an SOS message. We understand the importance of discretion in emergency situations and are here to assist you.
        </p>
        <h2 class="text-2xl font-bold text-center m-3">
            To request emergency silence, please send an SOS message to our helpline number: 1800-123-4567
            <br>
            OR
            <br>
            Click the button below to send an SOS message.
        </h2>
        <div class="flex justify-center">
            <a href="/" class="btn btn-error">
                Send SOS
            </a>
    </div>

    <div class="m-5">
        <h1 class="text-2xl font-bold m-2">
            <u>Emergency Helplines:</u>
        </h1>
        <h2 class="text-1xl font-bold m-3">
            National Helpline for Women: 181
        </h2>
        <h2 class="text-1xl font-bold m-3">
            Police Emergency Number: 100
        </h2>
        <h2 class="text-1xl font-bold m-3">
            Emergency Response for Women in Distress (Domestic Violence): 1091
        </h2>
        <h2 class="text-1xl font-bold m-3">
            Childline (for children in distress, which can also include young women): 1098
        </h2>

        <h1 class="text-2xl font-bold m-2">
           <u>Legal Aid and Support:</u>
        </h1>
        <h2 class="text-1xl font-bold m-3">
            National Commission for Women (NCW): +91-11-2334-0082 / +91-11-2334-0943 
        </h2>
        <h2 class="text-1xl font-bold m-3">
            Legal Aid Services: +91-9820466720
        </h2>

        <h1 class="text-2xl font-bold m-2">
            <u>Counseling and Support Services:</u>
        </h1>
        <h2 class="text-1xl font-bold m-3">
            AASRA (Support for those facing abuse, including women): +91-9820466720 / +91-9820466721 
        </h2>
        <h2 class="text-1xl font-bold m-3">
            SNEHA (Support for women and children in Mumbai): +91-22-2771-6600 
        </h2>
        <h2 class="text-1xl font-bold m-3">
            Jeevan Aastha Helpline (Mental health support): 1800-233-3330 
        </h2>

        <h1 class="text-2xl font-bold m-2">
            <u>Health and Safety:</u>
        </h1>
        <h2 class="text-1xl font-bold m-3">
            National AIDS Control Organisation (NACO) Helpline: 1097 
        </h2>
        <h2 class="text-1xl font-bold m-3">
            National Helpline for Mental Health (iCall): 9152987821
        </h2>


    </div>
   

    <%- include('../includes/footer') %>

    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>