<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('../includes/navbar') %>

        <div
        class="hero min-h-screen"
        style="background-image: url(https://www.bhmpics.com/downloads/aesthetic-line-art-black-background/3.06fcf5247475b9e7af44e401cf816fcf.jpg);">
        <div class="hero-overlay bg-opacity-80"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Welcome!</h1>
            <p class="mb-5">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary">Know More</button>
            </div>
        </div>
        </div>


    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>