<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%- include('../includes/navbar') %>

        <div
        class="hero min-h-screen"
        style="background-image: url(https://www.bhmpics.com/downloads/aesthetic-line-art-black-background/3.06fcf5247475b9e7af44e401cf816fcf.jpg);">
        <div class="hero-overlay bg-opacity-80"></div>
        <div class="hero-content text-neutral-content text-center">
            <div class="max-w-md">
            <h1 class="m-5 text-5xl font-bold">Welcome!</h1>
            <p class="mb-5" style="font-size: large; color: rgb(255, 255, 255);">
                We&apos;re thrilled to have you here at EmpowerHer, your go-to resource for inspiration, support, and growth. Our mission is to help women like you thrive by providing access to self-work tools, essential helpline numbers, and a vibrant community of stories and experiences.
                <br><br>
                Explore our collection of empowering blogs and discover the incredible journeys of women who have transformed their lives. Whether you&apos;re seeking motivation or looking to share your own story, EmpowerHer is here to support you every step of the way.
                <br><br>
                Join our community, find your path, and let&apos;s inspire and uplift each other together. Welcome to a space where your journey matters and your voice is valued.
            </p>
            <a href="/community">
                <button class="btn btn-primary">Explore More!</button>
            </a>
            </div>
        </div>
        </div>


    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>